<% include ./layout %>

<div class="container-fluid">


  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Scenarios</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/scenarios">Life Satisfaction</a></li>
        <li class="active"><a href="#">Education VS Vulgar Words</a></li>
        
        <li><a href="/scenarios/ier">Wealth VS Trump</a></li>
        <li><a href="/scenarios/health">Poor Health</a></li>
        <li><a href="/scenarios/volunteer">Volunteer Work</a></li>
        
      </ul><br/>
    </div>
    
    <div class="col-sm-9">
      <h2>Melbourne Residents' Education and Occupation Analysis</h2>
      <hr/>
      <h3>AURIN Data</h3>

    
        
        <div style="width:800px; height:450px;">
        <canvas id="chart1"></canvas>
        </div>
        <div style="width:800px; height:450px;">
        <canvas id="chart2"></canvas>
        </div>


      <hr/>
      <h3> Tweets Data Analysis</h3>
        <div style="width:800px; height:450px;">
        <canvas id="chart3"></canvas>
        </div>
      <div style="display:none">
      <hr/>
      <h3>Data show </h3>
      <h4><%= chart1 %></h4>
      <p><%= suburbs_high_aurin %></p>
      <p><%= scores_high_aurin %></p>
      <h4><%= chart2 %></h4>
      <p><%= suburbs_low_aurin %></p>
      <p><%= scores_low_aurin %></p>
      <h4><%= chart3 %></h4>
      <p><%= suburb_tweets %></p>
      <p><%= scores_tweets %></p>

      <br/><br/>
    </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
//read all data 
var scor_num = <%- (scores_high_aurin) %>
var suburbs = <%- suburbs_high_aurin %>
var chart1 = <%- JSON.stringify(chart1) %>

var scor_num2 = <%- (scores_low_aurin) %>
var suburbs2 = <%- suburbs_low_aurin %>
var chart2 = <%- JSON.stringify(chart2) %>

var scor_num3 = <%- (scores_tweets) %>
var suburbs3 = <%- suburb_tweets %>
var chart3 = <%- JSON.stringify(chart3) %>

var ctx1 = document.getElementById("chart1");
var chart1 = new Chart(ctx1, {
    type: 'bar',
    data: {
        labels: suburbs,
        datasets: [{
            label: chart1,
            data: scor_num,
            backgroundColor: [
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)'

            ],
            borderColor: [
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)'

            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {labels:{fontColor:"white", fontSize: 14}},
        scales: {
            xAxes: [{
                ticks: {
                    fontColor: "white" ,
                    autoSkip: false
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero:false,
                    min: 1150,
                    max: 1250,
                    fontColor: "white"   
                }
            }]
        }
    }
});

var ctx2 = document.getElementById("chart2");
var chart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: suburbs2,
        datasets: [{
            label: chart2,
            data: scor_num2,
            backgroundColor: [
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)'

            ],
            borderColor: [
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)'

            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {labels:{fontColor:"white", fontSize: 14}},
        scales: {
            xAxes: [{
                ticks: {
                    fontColor: "white" ,
                    autoSkip: false
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero:false,
                    min: 850,
                    max: 900,
                    fontColor: "white"   
                }
            }]
        }
    }
});


var ctx3 = document.getElementById("chart3");
var chart3 = new Chart(ctx3, {
    type: 'bar',
    data: {
        labels: suburbs3,
        datasets: [{
            label: chart3,
            data: scor_num3,
            backgroundColor: [
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.8)'

            ],
            borderColor: [
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)'

            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {labels:{fontColor:"white", fontSize: 14}},
        scales: {
            xAxes: [{
                ticks: {
                    fontColor: "white" ,
                    autoSkip: false
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero:false,
                    fontColor: "white"   
                }
            }]
        }
    }
});
</script>