<% include ./layout %>

<div class="container-fluid">


  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Scenarios</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/scenarios">Life Satisfaction</a></li>
        <li><a href="/scenarios/ieo">Education VS Vulgar Words</a></li>
        <li><a href="/scenarios/ier">Wealth VS Trump</a></li>
        <li><a href="/scenarios/health">Self-Assessed Health</a></li>
        <li class="active"><a href="#">Volunteer Work</a></li>
       
      </ul><br/>
    </div>


    <div class="col-sm-9">
      <h2>Melbourne Residents' Volunteer Work Rate Analysis</h2>
      <hr/>
      <h3>Aurin Data</h3>

     <div style="width:800px; height:450px;">
        <canvas id="chart1"></canvas>
        </div>
      <hr/>
      <h3> Tweets Data Analysis</h3>
      <div style="width:800px; height:450px;">
        <canvas id="chart2"></canvas>
        </div>
     <div style="display:none">
      <hr/>
      <h3>Data show </h3>
      <h4><%= chart1 %></h4>
      <p><%= suburbs_aurin %></p>
      <p><%= scores_aurin %></p>
      <h4><%= chart2 %></h4>
      <p><%= suburb_tweets %></p>
      <p><%= scores_tweets %></p>

      <br/><br/>
    </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
//read all data 
var scor_num = <%- (scores_aurin) %>
var suburbs = <%- suburbs_aurin %>
var chart1 = <%- JSON.stringify(chart1) %>

var scor_num2 = <%- (scores_tweets) %>
var suburbs2 = <%- suburb_tweets %>
var chart2 = <%- JSON.stringify(chart2) %>

var ctx1 = document.getElementById("chart1");
var chart1 = new Chart(ctx1, {
    type: 'bar',
    data: {
        labels: suburbs,
        datasets: [{
            label: chart1,
            data: scor_num,
            backgroundColor: [
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {labels:{fontColor:"white", fontSize: 14}},
        scales: {
            xAxes: [{
                ticks: {
                    fontColor: "white" ,
                    autoSkip: false
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero:false,
                    min:20,
                    max:60,
                    fontColor: "white"   
                }
            }]
        }
    }
});
var ctx2 = document.getElementById("chart2");
var chart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: suburbs2,
        datasets: [{
            label: chart2,
            data: scor_num2,
            backgroundColor: [
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(54, 162, 235, 0.8)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {labels:{fontColor:"white", fontSize: 14}},
        scales: {
            xAxes: [{
                ticks: {
                    fontColor: "white" ,
                    autoSkip: false
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero:false,
                    min:0,
                    max:1,
                    fontColor: "white"   
                }
            }]
        }
    }
});
</script>